@import "calendarium";
@import "calendarium-services";

.calendarium-theme-plain {

  .calendarium-item {
    padding: 0.3em 0.6em;
    background:none;
  }

	.calendarium-item.hover,
	.calendarium-item:hover {
		background: #d9edf7;
	}

  .calendarium-list {
    box-shadow: 2px 2px 5px #444;
  }
}
